<h1>Libros</h1>
<h1>Agregar / Editar Libros</h1>

<form>
    <div class="form-group">
        <label>Codigo</label>
        <input class="form-control" ng-model="prestamo.codigo" />
    </div>
    <div class="form-group">
        <label>Usuario</label>
        <input class="form-control" ng-model="prestamo.usuario"/>
    </div>
    <div class="form-group">
        <label>Libro</label>
        <input class="form-control" ng-model="prestamo.libro"/>
    </div>
    <div class="form-group">
        <label>Fecha Salida</label>
        <input class="form-control" ng-model="prestamo.fechasalida"/>
    </div>
    <div class="form-group">
        <label>Fecha Devolucion</label>
        <input class="form-control" ng-model="prestamo.fechadevolucion"/>
    </div>
    <div class="form-group">
        <label>Estado</label>
        <input class="form-control" ng-model="prestamo.estado"/>
    </div>
    <input type="button" class="btn btn-primary" value="Guardar" ng-click="save()" />  <a href="/#/prestamos" class="btn btn-danger">Atras</a>

</form>
