<h1>prestamos</h1>
<h1>Agregar / Editar prestamos</h1>

<form>
    <div class="form-group">
        <label>Titulo</label>
        <input class="form-control" ng-model="prestamo.titulo" />
    </div>
    <div class="form-group">
        <label>autor</label>
        <input class="form-control" ng-model="prestamo.autor"/>
    </div>
    <div class="form-group">
        <label>editorial</label>
        <input class="form-control" ng-model="prestamo.editorial"/>
    </div>
    <div class="form-group">
        <label>cantidad</label>
        <input class="form-control" ng-model="prestamo.cantidad"/>
    </div>
    <div class="form-group">
        <label>categoria</label>
        <input class="form-control" ng-model="prestamo.categoria"/>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()" />
    <p>
        <a href="/#/">Back</a>
    </p>
</form>
