<div class="col-md-4 col-md-offset-4">
<h2 align="center">Login</h2>

<form name="form" ng-submit="vm.onSubmit()">
    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
      <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" ng-model="vm.credentials.email" />
      </div>

      <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña" ng-model="vm.credentials.password" />
      </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <a href="/#register" class="btn btn-link">Registrarse</a>
    </div>
</form>
</div>
