<h1>Libros</h1>
<h1>Agregar / Editar Libros</h1>

<form>
    <div class="form-group">
        <label>Titulo</label>
        <input class="form-control" ng-model="libro.titulo" />
    </div>
    <div class="form-group">
        <label>Autor</label>
        <input class="form-control" ng-model="libro.autor"/>
    </div>
    <div class="form-group">
        <label>Editorial</label>
        <input class="form-control" ng-model="libro.editorial"/>
    </div>
    <div class="form-group">
        <label>Cantidad</label>
        <input class="form-control" ng-model="libro.cantidad"/>
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <input class="form-control" ng-model="libro.categoria"/>
    </div>
    <input type="button" class="btn btn-primary" value="Guardar" ng-click="save()" />  <a href="/#/libros" class="btn btn-danger">Atras</a>

</form>
