doctype html
html(ng-app='Biblioteca')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='/angular/vidzy.min.js')
    body
        block content
