<h1>Home Page</h1>
<p>
    <a ng-show="vm.isLoggedIn" href="/#/libros">Add a libro</a>
</p>
<ul>
    <li ng-repeat='libro in libros'>
        <a href="/#/libro/{{libro._id}}">
      {{libro.title}}
    </a>
        <a ng-show="vm.isLoggedIn" href="/#/libro/delete/{{libro._id}}">
            <i class="glyphicon glyphicon-remove">&nbsp;</i>
        </a>
    </li>
</ul>
<p>
    <a ng-hide="vm.isLoggedIn" href="/#login">Sign in</a>
    <input ng-show="vm.isLoggedIn" type="button" class="btn btn-primary" value="Log out" ng-click="vm.logout()" />
</p>
<p>
    <a ng-hide="vm.isLoggedIn" href="/#register">Register</a>
</p>
